<link rel="stylesheet" href="/css/home.css">



<%if(locals.user){%>
    
    <div id="section1">
        <h1 class = 'section-title'>
            Codeial / <%= title %>
        </h1>
        <div id="user-details">
            <h4>
                User Name : <%= locals.user.name%>
                <br>
                <a href="/users/profile">Go To Profile</a>
            </h4>
        </div>
        <section id = "feed-posts">
            <h2 class = 'section-title'>post something</h2>
            <form action="/posts/create" method = "POST" id = "postForm">
                <textarea name="content" id="content" cols="30" rows="3" placeholder="type here ..." required></textarea>
                <input type="submit" value="Post">
            </form>
        </section>
        <section id="posts-list-container">
            <h2 class = 'section-title'>feeds</h2>
            <%- include('_post')%>
        </section>
    </div>
    
    <div id="user-list-container">
        <h2 class="section-title">
            Users
        </h2>
        <ul>
            <% for(u of all_users){ %>
            <li>
                <p>
                    <a href="/users/userpage/<%= u._id %>">
                        <%= u.name %>
                    </a>
                </p>
            </li>
            <% } %>
        </ul>
    </div>
        
<%}else{%>
    <div id="login-signup">
        <h4>
            <a href="/users/login">Login</a> <br>
            or <br>
            <a href="/users/create">Register</a>
        </h4>
    </div>
    
<%}%>


<script src="/js/home_posts.js"></script>
<script src="/js/home_comments.js"></script>